body {
    text-align: center;
    background-color: #ebe7db;
}

h1 {
    border: solid ;
}
footer{
	background: #333;
	color: white;
	height: 80px;
	color: white;
	width: 100%;
	left: 0;
	bottom: 0px;
	position: fixed;
	display: block;
	padding: 0 10px;
}